.ipt-img{
    padding: 5px 5px 5px 29px;
    background-image: url(../img/search.svg);
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
   display: inline-block;
   height: 4px;

    
   
}
.ipt{
    background-color: transparent;
    width:175px;
    height:32px;
    border: none;
    outline: none;
    
}
::-webkit-input-placeholder{
    font-size: 17px;
}